.hero {
  width: 100%;
  max-width: 128rem;
  margin-inline: auto;
}

h1 {
  width: 70rem;
  padding-left: 3.2rem;
  padding-top: 14rem;
}

h1 div {
  display: inline-block;
  overflow: hidden;
  height: 8rem;
  width: min-content;
  vertical-align: bottom;
}

h1 span {
  display: block;

  animation: slideUp 6s infinite ease;
}

h1 span:nth-child(1),
h1 span:nth-child(4) {
  color: var(--snitap-sky-mid);
}

h1 span:nth-child(2) {
  color: var(--snitap-joy-mid);
}

h1 span:nth-child(3) {
  color: var(--snitap-leaf-mid);
}

@keyframes slideUp {

  /* radical static */
  0%, 22% {
    transform: translateY(0);
  }

  /* divertida in */
  23% {
    transform: translateY(calc(-8rem - 15px));
  }

  25% {
    transform: translateY(calc(-8rem + 10px));
  }

  27% {
    transform: translateY(calc(-8rem - 5px));
  }

  30% {
    transform: translateY(calc(-8rem + 5px));
  }

  /* divertida static */
  33%, 55% {
    transform: translateY(-8rem);
  }

  /* saudável in */
  56% {
    transform: translateY(calc(-16rem - 15px));
  }

  58% {
    transform: translateY(calc(-16rem + 15px));
  }

  60% {
    transform: translateY(calc(-16rem - 5px));
  }

  62% {
    transform: translateY(calc(-16rem + 5px));
  }

  /* saudável estatic */
  66%, 88% {
    transform: translateY(-16rem);
  }

    /* radical in */
    89% {
      transform: translateY(calc(-24rem - 15px));
    }
  
    91% {
      transform: translateY(calc(-24rem + 15px));
    }
  
    93% {
      transform: translateY(calc(-24rem - 5px));
    }
  
    95% {
      transform: translateY(calc(-24rem + 5px));
    }

  100% {
    transform: translateY(-24rem);
  }

}

.buttons {
  display: flex;
  gap: 3.2rem;
  margin-left: 3.2rem;
  margin-top: 4.8rem;
}

.buttons img {
  width: 24px;
}
.buy, .action, .action span {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font: var(--Button-label);
}

.buy {
  background-color: var(--snitap-sun);
  padding: 24px 48px;
  border-radius: 5rem;
  transition: 0.3s;
}

.buy:hover {
  box-shadow: 0rem 0rem .8rem rgba(0, 0, 0, 0.432);
  transform: scale(1.05);
}

.action span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffce1e56;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  transition: 0.3s;
}

.action span:hover {
  box-shadow: 0rem 0rem .8rem rgba(0, 0, 0, 0.432);
  transform: scale(1.05);
}