body {
  background-color: mediumpurple;
}

.square {
  width: 4rem;
  height: 4rem;
  background-color: white;
  opacity: .6;
}

.square {
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes move {
  50% {
    transform: translateX(calc(100vw - 100% - 16px));
  }
}