* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* Estilo Geral */

body {
  background: black;
  overflow: hidden;
}

.box {
  margin: 5rem auto;
  width: 43rem;
  border-radius: .5rem;
  background: #FFF;
  box-shadow: 0 2.0rem 5.0rem 0 rgba(0, 0, 0, 0.80);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  display: flex;
  flex-direction: column;
}


/* Estilo screen1 */

h1 {
  color: #34355B;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.screen1 .box p {
  margin: 1.4rem 0 2.4rem;
  color: #34355B;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

#openCookie {
  background: none;
  border: none;
}

.screen1 .box img {
  max-width: 26.5rem;
  transition: .2s;
}

.screen1 .box img:hover {
  cursor: pointer;
  transform: scale(1.1);
}


/* Estilo screen2 */

h2 {
  color: #34355B;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.screen2 .box p {
  margin: 1.7rem 0 2.7rem;
  background: #E4EDF1;
  box-shadow: .2rem .2rem .2rem 0 rgba(85, 85, 85, 0.50);
  padding: 1.0rem;
  color: #000;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
  font-weight: 400;
}

.screen2 .box img {
  max-width: 30rem;
}

#btnOpenCookieReset {
  margin-top: 6rem;
  border: none;
  padding: 1.6rem;
  border-radius: .4rem;
  background: #FF9500;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  transition: .2s;
}

#btnOpenCookieReset:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 2.0rem rgba(0, 0, 0, 0.418);
}

.hide {
  display: none;
}