* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62,5%;
}

body {
  font-family: "Epilogue", sans-serif;
  background:#ECE9FD;
  margin: 6.0rem 2.3rem 6.6rem;
}

main {
  max-width: 33.0rem;
  margin: 0 auto;
}

.nosso-trabalho {
  color:#7158EF;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 3pix;

  margin-bottom: 1.7rem;
}

h1 {
  color: #090039;
  font-size: 4.0rem;
  font-weight: 800;
  line-height: 4.8rem;

  margin-bottom: 1.5rem;
}

.paragrafo-2 {
  color:rgba(10, 0, 57, 0.64);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a {
  color:#090039;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-decoration: none;
}

a:hover {
  color:#380c29c2;
}

ul {
  list-style: none;
  margin-top: 7.2rem;
}

li {
  color:#090039;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  max-width: 25.7rem;
  display: flex;
  gap: 3.8rem;

  margin-bottom: 4.8rem;
}

span {
  color: #090039;
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8.0rem;
  letter-spacing: -2pix;
}

/* media queries */

@media (min-width: 40em) {
  body {
    padding: 8rem;
  }

  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }
  .caixa-1 {
    max-width: 485px;
  }
  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }

  ul {
    margin-bottom: 8.0rem;
  }
}














