* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Mulish", sans-serif;
}
body {
  background: #121214;
  padding: 72px 104px;

  display: grid;
  place-content: center;
}

h1 {
  color: #02799D;
  font-size: 58px;
  margin-bottom: 8px;
}

header p {
  color: #E1E1E6;
  font-size: 32px;
  font-weight: 600;
}

main{
  display: grid;
  grid-template-columns: repeat(3, 370px);
  /* row-gap: 48px;
  column-gap: 60px; */
  gap: 48px 60px;
  margin-top: 63px;
}

.card {
  border-radius: 8px;
  border: 2px solid #323238;
  background: #202024;
  overflow: hidden;
}

.card h2 {
  color: #E1E1E6;
  font-size: 36px;
  font-weight: 900;

  margin-top: 25px;
  margin-bottom: 24px;
  margin-left: 23px;
}

.card p {
  color: #C4C4CC;
  font-size: 18px;
  font-weight: 600;

  padding: 0 23px 39px 23px;
}

